<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Inputs</title>
    <script src="/angular-inputs/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/angular-inputs/bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="/angular-inputs/bower_components/angular-ui/build/angular-ui.min.js" type="text/javascript"></script>
    <script src="/angular-inputs/app.js" type="text/javascript"></script>
    <script src="/angular-inputs/resources/js/directives/AngularInput.js" type="text/javascript"></script>

    <link href="/angular-inputs/bower_components/angular-ui/build/angular-ui.min.css" rel="stylesheet" type="text/css" />
</head>
<body data-ng-app = "AngularInputsApp">

</body>
</html>